.productCardsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plansContainerSlider{
    justify-content: center;
}

.mainPlansContainer .plansContainerSlider .secondCard, .mainPlansContainer .plansContainerSlider .thirdCard{
    display: block;
} 

.flechaIzquierda, .flechaDerecha{
    display: none;
}

.plansContainerSlider{
    overflow-x: hidden;
}
